*{
    box-sizing:border-box;
    margin:0;
  }
  #background{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
  align-items: center;
  }
  
  #Calculator{   
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#676a6e;
    height:540px;
    width:400px;
    border:2px solid black;
    border-radius:12px;
  }
  
  #screen{
    margin-top:4%;
    margin-bottom:4%;
    background-color: #b1f7fc;
    height:100px;
    width:90%;
    border-radius:5px;
    border: 2px black solid;
  }
  
  #buttons{
    display:flex;
    margin-top: 5%;
    flex-wrap: wrap;
    gap: 5%;
    height:330px;
    width:90%;

   
  }

  .button{
    background-color: gray;
    color: white;
    font-weight: 700;
    font-size: 25px;
    width: 16%;
    height: 65px;
    border-radius: 10%;
    border:1px solid black;
    box-shadow: 0 5px rgb(196, 192, 192);
  }
  
  .button:active{
    opacity: 0.5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  
  }

  .red{
    background-color: rgb(190, 10, 10);
    box-shadow: 0 5px rgb(241, 98, 98);
  }

  .black{
    background-color: rgb(41, 38, 38);
    box-shadow: 0 5px rgb(44, 43, 43)
  }

  .green{
    background-color: rgb(6, 99, 26);
    box-shadow: 0 5px rgb(18, 133, 8);
  }

  /*SCREEN STYLING*/
  .para, #symbol{
    text-align: right;
    margin-top: 3px;
    margin-right: 8px;
    font-size: 22px;
  }


  #line{
    display: flex;
    justify-content: flex-end;
  }
  p#result{
    font-size: 30px;
 
  }


  #first{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    box-shadow: 0 1px rgb(31, 30, 30);
    margin-top:12px;
  }
  #nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: whitesmoke;
  }
  #solar{
    height: 25px;
    border-radius: 5px;
    width: 100px;
    background-color: rgb(63, 35, 37);
    display: flex;
    border: 1px solid rgb(73, 39, 39);
  }

  #technology{
    font-size: 13px;
    font-weight: 500;
  }
  .sol:nth-of-type(1), .sol:nth-of-type(2){
    height: 100%;
    border-right: rgb(121, 109, 109) 0.2px solid;
    width: 33%;
  }
  
#mark{
  font-weight: 900;
  font-size: 20px;
  align-self: center;
}

/*FOOTER STYLING*/
#footer{
  height:40px;
 background-color: rgb(182, 166, 146);
  font-size: 22px;
 width:100%;
  margin:0;
  position:fixed;
  z-index: 2;
  bottom:0; 
  display:flex;
  justify-content:center;
  align-items:center;
}

#github{
  height:20px;
  margin-left:10px;
  align-self: center;
  margin-top: 5px;

}
#github:hover{
   opacity: 0.40;
 }
